body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-container {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#campamentos-list {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#campamentos-list th, #campamentos-list td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#campamentos-list th {
    background-color: #f2f2f2;
    color: #333;
}

#campamentos-list td {
    background-color: #fff;
}

button {
    background-color: #1f8dd6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1f8dd6;
}

/* Estilos para la posición de los botones */
.button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex; /* Utilizamos flexbox para alinear los botones en la misma línea */
}

/* Añadimos un estilo específico para los formularios dentro de .button-container */
.button-container form {
    margin-right: 10px; /* Espacio entre los botones */
}

/* Estilos para la posición de los botones */
.big-button-container {
    margin-top: 5%;
    margin-right: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


/* Estilos para los botones grandes */
.big-button {
    background-color: #1f8dd6;
    color: white;
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Cambiado a 100% para ocupar todo el ancho */
    text-align: center;
    display: block; /* Añadido para ocupar todo el ancho */
    margin: 0 auto; /* Añadido para centrar el texto */
}
.big-button:hover {
    background-color: #1f8dd6;
}


