/* Estilos para la disposición en paralelo */
.table-container {
    display: flex;
    justify-content: space-between;
    height: 80vh; /* El 80% del alto de la ventana */
    margin-top: 5%; /* Ajusta según sea necesario */
}

/* Estilos para cada parte */
.actividades-container, .monitor-container {
    width: 20%; /* Ajustado para dar más espacio a campamentos */
    margin-top: 10px; /* Ajusta según sea necesario */
}
.campamentos-container {
    width: 30%; /* Ajustado para dar más espacio a campamentos */
    margin-top: 10px; /* Ajusta según sea necesario */
}

/* Estilos para las tablas */
#actividades-list, #campamentos-list, #monitores-list {
    width: 100%; /* Ocupa el 100% del contenedor */
    border-collapse: collapse;
    margin-bottom: 10px; /* Ajustado para acercar las tablas */
}

#actividades-list, #campamentos-list, #monitores-list th, #actividades-list, #campamentos-list, #monitores-list td {
    border: 1px solid #ddd;
    padding: 5px; /* Ajustado para reducir el espacio entre celdas */
    text-align: left;
}

#actividades-list th, #campamentos-list th, #monitores-list th {
    background-color: #1f8dd6;
    color: white;
}

/* Otros estilos */
.button-container {
    margin-top: 20px;
}

.button-container form {
    display: inline-block;
    margin-right: 10px;
}
