body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3498db;
    border: 2px solid #2980b9; /* Agregué un borde de 2px sólido con un tono más oscuro */
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    color: #666;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.register-link {
    margin-top: 15px;
    color: #666;
}

.message {
    background-color: #3498db;
    color: #fff; /* Texto en color blanco */
    padding: 10px;
    border-radius: 4px;
    margin: 15px 0; /* Ajusta el margen arriba y abajo */
    text-align: center; /* Centra el texto */
}

