<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PW3</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
    
  <context-param>
  	<param-name>jdbc</param-name>
  	<param-value>jdbc:mysql://oraclepr.uco.es:3306/i02rafea</param-value>
  </context-param>
  
  <context-param>
  	<param-name>db-user</param-name>
  	<param-value>i02rafea</param-value>
  </context-param>
  
  <context-param>
  	<param-name>db-pass</param-name>
  	<param-value>usuario</param-value>
  </context-param>
  
  <context-param>
  	<param-name>propertiesPath</param-name>
  	<param-value>/WEB-INF/sql.properties</param-value>
  </context-param>
 
<error-page>
    <location>/include/errorPage.jsp</location>
</error-page>  
  
  <servlet>
<servlet-name>mostrarActividad</servlet-name>
<servlet-class>es.uco.pw.servlets.SVMostarActividad</servlet-class>
</servlet>
  <servlet-mapping>
<servlet-name>mostrarActividad</servlet-name>
<url-pattern>/mostrarActividad</url-pattern>
</servlet-mapping>

  
  <servlet>
<servlet-name>crearActividad</servlet-name>
<servlet-class>es.uco.pw.servlets.SVCrearActividad</servlet-class>
</servlet>


  <servlet>
<servlet-name>mostrarCampamentosDisponibles</servlet-name>
<servlet-class>es.uco.pw.servlets.SVCampamentosDisponibles</servlet-class>
</servlet>
  <servlet-mapping>
<servlet-name>mostrarCampamentosDisponibles</servlet-name>
<url-pattern>/mostrarCampamentosDisponibles</url-pattern>
</servlet-mapping>
  
  
  
</web-app>
